<h1 align="center">Article List</h1>

<div align="center">
  <%= will_paginate %>
</div>
<%= render 'article', obj: @articles %>

<div align="center">
  <%= will_paginate %>
</div>


<%#= link_to "Create new article", new_article_path %>

<%# @articles.each do |a| %>
<!--  <div class="row">-->
<!--    <div class="col-xs-8 col-xs-offset-2">-->
<!--      <div class="well well-lg">-->

<!--        <div class="article-title">-->
<%#= link_to a.title, article_path(a) %>

<!--        </div>-->
<!--        <div class="article-body">-->
<%#= truncate(a.description, length: 100) %>
<!--          <small>Created by: <%#= a.user.username %>, <%#= time_ago_in_words(a.created_at) %>ago-->
<!--            last updated:<%#= time_ago_in_words(a.updated_at) %> </small>-->
<!--        </div>-->
<!--        <div class="article-actions">-->
<%#= link_to "Edit", edit_article_path(a), class: "btn btn-xs btn-primary" %>
<%#= button_to "Delete", article_path(a), :method => "delete", data: { confirm: "Are you sure" },class: "btn btn-xs btn-danger" %>
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->

<%# end %>
